@import "../../node_modules/bootstrap/scss/bootstrap";

.dto-gallery {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .gallery-top {
        width: 80%;
        height: 100%;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .btn-magnify{
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: none;
                    background: none;
                    outline: none;
                }
            }
        }
    }
    .gallery-thumbs {
        width: 20%;
        height: 100%;
        position: absolute;
        left: 0;
        .swiper-container {
            box-sizing: border-box;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 20%;
                opacity: 0.4;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                &::after {
                    content: "";
                    padding-top: 100%;
                    width: 100%;
                    display: block;
                }
            }
            .swiper-slide-thumb-active {
                opacity: 1;
            }
            .swiper-button-next {
                bottom: 0;
                top: auto;
                transform: rotate(90deg);
            }
            .swiper-button-prev {
                top: 0;
                bottom: auto;
                transform: rotate(90deg);
            }
            .swiper-button-next,
            .swiper-button-prev {
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    .gallery-modal {
        .modal-content{
            background: none;
            border: none;
        }
        .swiper-container {
            width: 100%;
            .swiper-slide{
                display: flex;
                justify-content: center;
            }
        }
        .close {
            position: absolute;
            z-index: 2;
            right: 6px;
            top: 0;
        }
    }
}
